/* Colours
================================================== */
//$color-blk: #000;
//$color-wht: #fff;
//$color-blu:	#11749c;
//$color-ylw: #f7b816;
//$color-gry: #212121;

/* Mixins
================================================== */
@mixin parallax {
  //background-position: center center;
  //background-size: cover;
  //background-repeat: no-repeat;
  //background-origin: padding-box;
  //background-clip: border-box;
  //background-attachment: fixed; /*scroll on mobile*/
}

/* Global
================================================== */

.content {
  //@include parallax;
  //background-image: linear-gradient(rgba($color-blk, .6), rgba($color-blk, .6)), url("https://static.pexels.com/photos/380769/pexels-photo-380769.jpeg");
  //color: $color-wht;
  //height: 100vh;
  //padding: 5em;
  //text-align: center;
}

/* Accordion
================================================== */
.acc {
  //margin: 0 auto;
  //max-width: 800px;
}
.acc__card {
  &:last-child .acc__title {
    border-bottom: solid 2px #88C4C5;
  }
}
.acc__title {
  display: block;
  padding: .75em 1em;


  font-size: 18px;
  font-weight: 500;


  border-top: solid 2px #88C4C5;
  cursor: pointer;


  position: relative;
  text-align: left;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    border-style: solid;
    border-width: 6.5px 0 6.5px 8px;
    border-color: transparent transparent transparent black;
    transition: all 0.2s ease-in-out;
  }
  &.active::after {
    transform: rotate(90deg);
    transition: all 0.2s ease-in-out;
  }

}
.acc__panel {
  display: none;
  margin: 0;
  padding: .75em 1.5em;
  text-align: left;
}
