//aside
.aside {
  margin-top: -300px;
  margin-bottom: -100px;
  @media only screen and (max-width: 992px) {
    margin-top: -100px;
    margin-bottom: 0;
  }
  @media only screen and (max-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

//widget
.widget {
  padding: 35px;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: $shadow;
  &:last-child {
    margin-bottom: 0;
  }
  @media only screen and (max-width: 992px) {
    padding: 35px 25px;
  }
  .widget-title {
    margin-bottom: 20px;
    font-size: 25px;
    line-height: 30px;
    color: $text;
  }
  .widget-article {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 94px;
      height: 2px;
      background-color: $accent;
    }
    &:last-child {
      padding-bottom: 0;
    }

    p, .article-image, .article-video, .read-more-btn {
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    .article-image {
      width: 100%;
      height: auto;
    }
  }
}