.hero-section {
  padding: 440px 0 0;
  background: url("../img/hero-img.jpg") no-repeat 50% 50%;
  background-size: cover;
  h1 {
    color: white;
    font-size: 45px;
    font-weight: 500;
    background: rgba(1,1,1,.5);
    padding: 20px 100px 20px 15%;
    display: inline-block;
    span {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 500;
    }
  }

  @media only screen and (max-width: 992px) {
    padding: 320px 0 0;
    background: url("../img/hero-img.jpg") no-repeat 80% 50%;
    background-size: cover;
  }
  @media only screen and (max-width: 768px) {
    h1 {
      width: 100%;
      font-size: 36px;
      padding: 20px 40px;
      span {
        display: block;
      }
    }
  }
}

.intro-section {
  padding: 50px 0;
  p {
    margin-bottom: 20px;
  }
}

.top-products-section {
  padding: 50px 0;
  background-color: $bg;

  .list-products {
    //display: flex;
    //flex-wrap: wrap;
    //margin-bottom: 30px;
    li {
      //width: 50%;
      //padding-right: 20px;
      //padding-bottom: 20px;
    }
  }

  .wrap-btn {
    text-align: center;
    margin-bottom: 50px;
  }
  p {
    color: #1C1C1C;
  }
}

.product-list {
  margin-bottom: 30px;

}

.articles-section {
  background-color: white;
  padding: 50px 0;
  p {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 50px;
  }
  .article-item {
    cursor: pointer;
    margin-bottom: 50px;
    .image-container img {
      float: left;
    }
    &:hover {
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
    }
    h3 {
      font-weight: 500;
    }
    p {
      color: #1C1C1C;
    }
  }
  @media only screen and (max-width: 992px) {
    .article-item:hover {
      box-shadow: none;
    }
    .image-container {
      img {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .article-item {
      margin-bottom: 0;
    }
    h3 {
      margin-top: 30px;
    }
  }
}


.latest-updates {
  article {
    //margin-bottom: 30px;
  }

}

.our-products {
  background-color: $bg;
  .header-page {
    padding: 60px 0;
    background: url("../img/our-products/our-product-header-bg.png") no-repeat 50% 50%;
    background-size: cover;
    h1 {
      display: inline-block;
      padding: 20px 100px;
      font-size: 45px;
      font-weight: 500;
      color: white;
      background: rgba(1,1,1,.5);
      span {
        font-style: italic;
        font-family: 'Playfair Display', serif;
      }
    }
  }
  .product-section {
    padding: 50px 0 70px;
  }
  .filter-menu {
    margin-bottom: 50px;
  }
  .item-menu {
    a {
      display: block;
      padding: 14px;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      text-decoration: none;
      color: black;
      background-color: white;
      &:hover {
        background-color: $accent;
        color: white;
      }
    }
  }
  .item-menu.active {
    a {
      background-color: $accent;
      color: white;
    }
  }
}

.accent-bg {
  background-color: $accent;
  .read-more-btn {
    color: white;
    &:after {
      border-color: transparent transparent transparent white;
    }
  }
}

.single-product {
  background-color: $bg;
}

.testimonials-section {
  padding: 40px 0 20px;
  .list-testimonials {
    .item {
      p {
        font-family: 'Playfair Display', serif;
        font-size: 20px;
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 50%;


      }
    }
  }
}



.product-cart {
  padding: 20px 0 50px;
  h1 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 20px;
  }
  .stars-block {
    padding-bottom: 30px;
  }
  h3 {
    font-size: 25px;
    line-height: 30px;
    font-weight: 500;
  }
  p {
    margin-bottom: 20px;
  }

  .wrapper-card {
    background-color: white;
    .image-container {
      display: block;
      height: 0;
      width: 100%;
      height: 100px;
      padding-top: 100%;
      overflow: hidden;
      position: relative;
      & > img {
        position: absolute;
        top: 50%;
        left: 50%;
        object-fit: cover;
        max-width: none;
        max-height: none;
        width: 100%;
        height: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-height: 100%;
        max-width: 100%;
      }
    }




    .block-text {
      padding: 20px;
      .title-block {
        display: flex;
        justify-content: space-between;
        //padding-bottom: 15px;
        margin-bottom: 15px;
        border-bottom: solid 2px #88C4C5;
        p {
          font-size: 25px;
          font-weight: 500;
          line-height: 30px;
          color: $text;

        }
      }
      .quantity-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 20px;
        p {
          margin-bottom: 0;
          span {
            display: block;
          }
        }
      }
    }
  }
}









