.hero-section {
  padding: 440px 0 0;
  background: url("../img/hero-img.jpg") no-repeat 50% 50%;
  background-size: cover;
  h1 {
    color: white;
    font-size: 45px;
    font-weight: 500;
    background: rgba(1,1,1,.5);
    padding: 20px 100px 20px 15%;
    display: inline-block;
    span {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 500;
    }
  }

  @media only screen and (max-width: 992px) {
    padding: 320px 0 0;
    background: url("../img/hero-img.jpg") no-repeat 80% 50%;
    background-size: cover;
  }
  @media only screen and (max-width: 768px) {
    h1 {
      width: 100%;
      font-size: 36px;
      padding: 20px 40px;
      span {
        display: block;
      }
    }
  }
}

.intro-section {
  padding: 50px 0;
  p {
    margin-bottom: 20px;
  }
}

.top-products-section {
  padding: 50px 0;
  background-color: $bg;
  .aside {
    margin-top: -300px;
    margin-bottom: -100px;
    @media only screen and (max-width: 992px) {
      margin-top: -100px;
      margin-bottom: 0;
    }
    @media only screen and (max-width: 768px) {
      margin-top: 0;
      margin-bottom: 0;
    }
    img {
      width: 100%;
      height: auto;
    }
    .latest-updates {
      background-color: white;
      padding: 35px;
      margin-bottom: 30px;
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
      p {
        margin-bottom: 20px;
      }
      @media only screen and (max-width: 992px) {
        padding: 35px 25px;
      }
    }
    .current-specials {
      background-color: white;
      padding: 35px;
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
      @media only screen and (max-width: 992px) {
        padding: 35px 25px;
      }
    }
  }
  .list-products {
    //display: flex;
    //flex-wrap: wrap;
    //margin-bottom: 30px;
    li {
      //width: 50%;
      //padding-right: 20px;
      //padding-bottom: 20px;
    }
  }

  .wrap-btn {
    text-align: center;
    margin-bottom: 50px;
  }
  p {
    color: #1C1C1C;
  }
}

.product-list {
  margin-bottom: 30px;

}

.articles-section {
  padding: 50px 0;
  p {
    margin-bottom: 20px;
  }
  h2 {
    margin-bottom: 50px;
  }
  .wrap-article {
    cursor: pointer;
    margin-bottom: 50px;
    .image-container img {
      float: left;
    }
    &:hover {
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);
    }
    h3 {
      font-weight: 500;
    }
    p {
      color: #1C1C1C;
    }
  }
  @media only screen and (max-width: 992px) {
    .wrap-article:hover {
      box-shadow: none;
    }
    .image-container {
      img {
        width: 100%;
      }
    }
  }
  @media only screen and (max-width: 768px) {
    .wrap-article {
      margin-bottom: 0;
    }
    h3 {
      margin-top: 30px;
    }
  }
}


.latest-updates {
  article {
    margin-bottom: 30px;
  }

}

.our-products {
  background-color: $bg;
  .header-page {
    padding: 60px 0;
    background: url("../img/our-products/our-product-header-bg.png") no-repeat 50% 50%;
    background-size: cover;
    h1 {
      display: inline-block;
      padding: 20px 100px;
      font-size: 45px;
      font-weight: 500;
      color: white;
      background: rgba(1,1,1,.5);
      span {
        font-style: italic;
        font-family: 'Playfair Display', serif;
      }
    }
  }
  .product-section {
    padding: 50px 0 70px;
  }
  .filter-menu {
    margin-bottom: 50px;
  }
  .item-menu {
    a {
      display: block;
      padding: 14px;
      font-size: 18px;
      font-weight: 500;
      line-height: 22px;
      text-decoration: none;
      color: black;
      background-color: white;
      &:hover {
        background-color: $accent;
        color: white;
      }
    }
  }
  .item-menu.active {
    a {
      background-color: $accent;
      color: white;
    }
  }
}

