//btns
.btn {
  display: inline-block;
  width: 220px;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background: #88C4C5;
  @extend.animate;
  &:hover {
    background: #1C1C1C;
  }
}
.btn.wide {
  width: 100%;
}

.read-more-btn {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.18em;
  line-height: 19px;
  text-decoration: none;
  color: #1C1C1C;
  position: relative;
  @extend.animate;
  &:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #1c1c1c;
  }
  &:hover {
    color: $accent;
    &:after {
      border-color: transparent transparent transparent $accent;
    }
  }
}

.view-delails-btn {
  color: $text;
  text-decoration: none;
  @extend.animate;
  &:hover {
    color: $accent;
  }
}


//product cart
.product-item {
  margin-bottom: 20px;
  .wrap-product {
    @extend.animate;
    text-decoration: none;
    display: block;
  }
  .block-text {
    padding: 15px 20px;
    background-color: white;
    @extend.animate;
  }
  .block-img {
    width:100%;
    display: flex;
    margin: auto;
  }
  .image-container {
    display: block;
    height: 0;
    width: 100%;
    height: 100px;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      object-fit: cover;
      max-width: none;
      max-height: none;
      width: 100%;
      height: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-height: 100%;
      max-width: 100%;
    }
  }
  .detail-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}

.product-item.top-product {
  &:hover {
    .block-text {
      background-color: $accent;
    }
    h3, p {
      color: white;
      &:after {
        background: white;
      }
    }
  }
}

//stars-block
.stars-block {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  .star {
    width: 20px;
    height: 17px;
    display: inline-block;
    background: url("../img/stars/star-transparent.svg") no-repeat 50% 50%;
    background-size: cover;
    margin-right: 5px;
  }
  .number-reviews {
    margin-left: 15px;
    display: inline-block;
  }
}

.stars-block.one{
  .star:nth-child(1) {
    background: url("../img/stars/star-white.svg") no-repeat 50% 50%;
  }
}

.stars-block.two{
  .star:nth-child(1),
  .star:nth-child(2) {
    background: url("../img/stars/star-white.svg") no-repeat 50% 50%;
  }
}

.stars-block.three{
  .star:nth-child(1),
  .star:nth-child(2),
  .star:nth-child(3) {
    background: url("../img/stars/star-white.svg") no-repeat 50% 50%;
  }
}

.stars-block.four{
  .star:nth-child(1),
  .star:nth-child(2),
  .star:nth-child(3),
  .star:nth-child(4) {
    background: url("../img/stars/star-white.svg") no-repeat 50% 50%;
  }
}

.stars-block.five{
  .star:nth-child(1),
  .star:nth-child(2),
  .star:nth-child(3),
  .star:nth-child(4),
  .star:nth-child(5) {
    background: url("../img/stars/star-white.svg") no-repeat 50% 50%;
  }
}

//breadcrumbs

.breadcrumbs {
  padding: 20px 0;
  a, span {
    font-size: 18px;
    line-height: 22px;
    color: black;
    text-decoration: none;
    &:after {
      content: ">";
      padding: 0 5px;
    }
    &:last-child::after {
      display: none;
    }
  }
  .current {
    font-weight: 500;
  }
}

//custome number input

.quantity-block {

}



.quantity-input {

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  .quantity-arrow-minus,
  .quantity-arrow-plus {
    cursor: pointer;
    background: none;
    background: #F6F6F6;
    border: none;
    outline: none;
    color: $text;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    width: 25px;
    height: 25px;
    padding: 0;
    font-family: "Montserrat", sans-serif;

  }
  .quantity-num {
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 25px;
    height: 25px;
    width: 25px;
    outline: none;
    border: none;
    text-align: center;
    font-family: "Montserrat", sans-serif;

    background: #F6F6F6;
  }
}

//custom-select

.custom-select {
  margin-bottom: 20px;
  border: 1px solid #C4C4C4;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6.5px 0 6.5px;
    border-color: black transparent transparent transparent;
  }

  select {
    width: 100%;
    background: none;
    outline: none;
    border-radius: 0;
    border: none;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 25px;
    padding: 7px 10px;
  }
  select:not([multiple]) {
    -webkit-appearance: none;
    -moz-appearance: none;

    //background-position: right 50%;
    //background-repeat: no-repeat;
    //background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAMCAYAAABSgIzaAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNSBNYWNpbnRvc2giIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NDZFNDEwNjlGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NDZFNDEwNkFGNzFEMTFFMkJEQ0VDRTM1N0RCMzMyMkIiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo0NkU0MTA2N0Y3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo0NkU0MTA2OEY3MUQxMUUyQkRDRUNFMzU3REIzMzIyQiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/PuGsgwQAAAA5SURBVHjaYvz//z8DOYCJgUxAf42MQIzTk0D/M+KzkRGPoQSdykiKJrBGpOhgJFYTWNEIiEeAAAMAzNENEOH+do8AAAAASUVORK5CYII=);
    //padding: .5em;
    //padding-right: 1.5em
  }
}

