//btns
.btn {
  display: inline-block;
  width: 220px;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background: #88C4C5;
  @extend.animate;
  &:hover {
    background: #1C1C1C;
  }
}
.btn.wide {
  width: 100%;
}

.read-more-btn {
  display: inline-block;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.18em;
  line-height: 19px;
  text-decoration: none;
  color: #1C1C1C;
  position: relative;
  @extend.animate;
  &:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #1c1c1c;
  }
  &:hover {
    color: $accent;
    &:after {
      border-color: transparent transparent transparent $accent;
    }
  }
}

.view-delails-btn {
  color: $text;
  text-decoration: none;
  @extend.animate;
  &:hover {
    color: $accent;
  }
}


//product cart
.product-item {
  margin-bottom: 20px;
  .wrap-product {
    @extend.animate;
    text-decoration: none;
    display: block;
  }
  .block-text {
    padding: 15px 20px;
    background-color: white;
    @extend.animate;
  }
  .block-img {
    width:100%;
    display: flex;
    margin: auto;
  }
  .image-container {
    display: block;
    height: 0;
    width: 100%;
    height: 100px;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      object-fit: cover;
      max-width: none;
      max-height: none;
      width: 100%;
      height: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-height: 100%;
      max-width: 100%;
    }
  }
  .detail-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
}

.product-item.top-product {
  &:hover {
    .block-text {
      background-color: $accent;
    }
    h3, p {
      color: white;
      &:after {
        background: white;
      }
    }
  }
}