h1, h2, h3, h4 {
  font-weight: 600;
  line-height: 1.25;
}

h2 {
  font-size: 25px;
  line-height: 30px;
  color: #1C1C1C;
}

h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  color: #1C1C1C;
  position: relative;
}

.small-text { font-size: 14px; }

.italic { font-style: italic; }

.uppercase { text-transform: uppercase; }

.bold { font-weight: 500; }

.border-above {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 94px;
    height: 2px;
    background-color: $accent;
  }
}

.border-under {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 94px;
    height: 2px;
    background: #88C4C5;
  }
}

.date {
  padding-top: 10px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.18em;
  position: relative;
  span {
    font-weight: 600;
    font-size: 14px;
  }
}


