@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap");
@import url(grid.css);
@import url(normalize.css);
div, p, a, span, em, strong, img, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, td, tr, form, fieldset, label, select, checkbox, input, textarea {
  padding: 0;
  margin: 0;
  list-style: none; }

img {
  max-width: 100%; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45;
  color: #1C1C1C; }

.form-modal input {
  width: 100%;
  margin-bottom: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 5px 10px;
  border: solid 1px lightgrey; }
  .form-modal input::-webkit-input-placeholder {
    color: gray;
    font-family: 'Roboto Condensed', sans-serif; }
  .form-modal input::-moz-placeholder {
    color: gray;
    font-family: 'Roboto Condensed', sans-serif; }
  .form-modal input:-ms-input-placeholder {
    color: gray;
    font-family: 'Roboto Condensed', sans-serif; }
  .form-modal input:-moz-placeholder {
    color: gray;
    font-family: 'Roboto Condensed', sans-serif; }
  @media only screen and (max-width: 768px) {
    .form-modal input {
      font-size: 18px; } }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video {
  position: relative;
  width: 100%;
  overflow: hidden; }

.animate, .right-nav .social-nav li .facebook-icon, .right-nav .social-nav li .twitter-icon, .right-nav .social-nav li .youtube-icon, .btn, .read-more-btn, .view-delails-btn, .product-item .wrap-product, .product-item .block-text {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.no_scroll {
  overflow: hidden; }
  .no_scroll:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6); }

.header {
  display: flex;
  align-items: center; }
  .header .logo {
    display: flex;
    align-items: center; }
    .header .logo .wrap-logo {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      background-color: #88C4C5;
      width: 57px;
      height: 57px; }
    .header .logo h1 {
      padding: 0 20px;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1; }

.burger {
  display: none;
  height: 18px;
  width: 24px;
  position: relative;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 1;
  margin-left: auto;
  margin-right: 15px; }
  .burger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #88C4C5;
    border-radius: 4px;
    opacity: 1;
    left: 0;
    transition: .25s ease-in-out; }
    .burger span:nth-child(1) {
      top: 0px; }
    .burger span:nth-child(2), .burger span:nth-child(3) {
      top: 8px; }
    .burger span:nth-child(4) {
      top: 16px; }
  .burger.active span:nth-child(1) {
    top: 10px;
    width: 0%;
    left: 50%; }
  .burger.active span:nth-child(2) {
    transform: rotate(45deg); }
  .burger.active span:nth-child(3) {
    transform: rotate(-45deg); }
  .burger.active span:nth-child(4) {
    top: 10px;
    width: 0%;
    left: 50%; }

.header {
  position: relative;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  height: 57px;
  z-index: 3; }
  .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px; }

.menu_wrap {
  flex-grow: 1; }

.menu_content {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  justify-content: center; }
  .nav_item {
    padding: 0 15px; }
    .nav_item a {
      text-decoration: none;
      color: #1C1C1C;
      font-size: 15px; }
      .nav_item a:hover {
        color: #88C4C5; }

.right-nav {
  display: flex;
  align-items: center; }
  .right-nav .social-nav {
    display: flex;
    align-items: center;
    padding: 0 15px; }
    .right-nav .social-nav li {
      margin: 0 10px; }
      .right-nav .social-nav li a {
        width: 20px;
        height: 20px;
        display: block; }
      .right-nav .social-nav li .facebook-icon {
        background: url("../img/social-icon/facebook-accent.png") no-repeat 50% 50%;
        background-size: cover; }
        .right-nav .social-nav li .facebook-icon:hover {
          background: url("../img/social-icon/facebook-original.png") no-repeat 50% 50%;
          background-size: cover; }
      .right-nav .social-nav li .twitter-icon {
        background: url("../img/social-icon/twitter-accent.png") no-repeat 50% 50%;
        background-size: cover; }
        .right-nav .social-nav li .twitter-icon:hover {
          background: url("../img/social-icon/twitter-original.png") no-repeat 50% 50%;
          background-size: cover; }
      .right-nav .social-nav li .youtube-icon {
        background: url("../img/social-icon/youtube-accent.png") no-repeat 50% 50%;
        background-size: cover; }
        .right-nav .social-nav li .youtube-icon:hover {
          background: url("../img/social-icon/youtube-original.png") no-repeat 50% 50%;
          background-size: cover; }

.right-nav {
  display: flex;
  margin-right: 15px; }
  .right-nav .social-nav li {
    display: inline-block; }
  .right-nav .header-btn {
    padding: 9px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #88C4C5;
    text-decoration: none;
    border: 1px solid #88C4C5; }
    .right-nav .header-btn:hover {
      color: white;
      background-color: #88C4C5; }

@media (max-width: 1199px) {
  .header {
    height: 57px;
    width: 100%; }
    .header .container {
      padding-top: 10px;
      padding-bottom: 10px; }
    .header .logo {
      height: 40px; }

  .burger {
    display: block; }

  .menu_content {
    position: absolute;
    background: #fff;
    top: 57px;
    left: 0;
    right: 0;
    z-index: 1;
    flex-direction: column;
    padding-bottom: 30px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    max-height: calc(100vh - 60px);
    overflow: auto; }
    .menu_content.active {
      opacity: 1;
      visibility: visible; }

  .nav_item {
    width: 100%;
    padding: 15px 0;
    text-align: center; }

  .nav {
    flex-direction: column;
    margin-bottom: 30px;
    width: 100%;
    border-bottom: 1px solid #88C4C5; }

  .right-nav {
    flex-direction: column; }
    .right-nav .social-nav {
      margin-bottom: 20px; } }
h1, h2, h3, h4 {
  font-weight: 600;
  line-height: 1.25; }

h2 {
  font-size: 25px;
  line-height: 30px;
  color: #1C1C1C; }

h2.header-section {
  margin-bottom: 50px; }

h2.header-aside {
  margin-bottom: 25px; }

h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  color: #1C1C1C;
  position: relative; }

.small-text {
  font-size: 14px; }

.italic {
  font-style: italic; }

.uppercase {
  text-transform: uppercase; }

.bold {
  font-weight: 500; }

.border-above {
  position: relative; }
  .border-above:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 94px;
    height: 2px;
    background-color: #88C4C5; }

.border-under {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px; }
  .border-under:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 94px;
    height: 2px;
    background: #88C4C5; }

.date {
  padding-top: 10px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0.18em;
  position: relative; }
  .date span {
    font-weight: 600;
    font-size: 14px; }

.btn {
  display: inline-block;
  width: 220px;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background: #88C4C5; }
  .btn:hover {
    background: #1C1C1C; }

.btn.wide {
  width: 100%; }

.read-more-btn {
  display: inline-block;
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 14px;
  letter-spacing: 0.18em;
  line-height: 19px;
  text-decoration: none;
  color: #1C1C1C;
  position: relative; }
  .read-more-btn:after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    margin-top: -4px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-color: transparent transparent transparent #1c1c1c; }
  .read-more-btn:hover {
    color: #88C4C5; }
    .read-more-btn:hover:after {
      border-color: transparent transparent transparent #88C4C5; }

.view-delails-btn {
  color: #1C1C1C;
  text-decoration: none; }
  .view-delails-btn:hover {
    color: #88C4C5; }

.product-item {
  margin-bottom: 20px; }
  .product-item .wrap-product {
    text-decoration: none;
    display: block; }
  .product-item .block-text {
    padding: 15px 20px;
    background-color: white; }
  .product-item .block-img {
    width: 100%;
    display: flex;
    margin: auto; }
  .product-item .image-container {
    display: block;
    height: 0;
    width: 100%;
    height: 100px;
    padding-top: 100%;
    overflow: hidden;
    position: relative; }
    .product-item .image-container > img {
      position: absolute;
      top: 50%;
      left: 50%;
      object-fit: cover;
      max-width: none;
      max-height: none;
      width: 100%;
      height: 100%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      max-height: 100%;
      max-width: 100%; }
  .product-item .detail-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }

.product-item.top-product:hover .block-text {
  background-color: #88C4C5; }
.product-item.top-product:hover h3, .product-item.top-product:hover p {
  color: white; }
  .product-item.top-product:hover h3:after, .product-item.top-product:hover p:after {
    background: white; }

.slick-list {
  margin: 0 30px; }

.slick-prev, .slick-next {
  top: 30%; }
  .slick-prev:before, .slick-next:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid; }

.slick-next {
  right: 0; }
  .slick-next:before {
    border-width: 15px 0 15px 16px;
    border-color: transparent transparent transparent #C4C4C4; }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    border-width: 15px 16px 15px 0;
    border-color: transparent #C4C4C4 transparent transparent; }

.slick-dots li button {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #C4C4C4; }
  .slick-dots li button:before {
    content: ""; }
  .slick-dots li button:hover {
    background-color: #88C4C5; }
.slick-dots .slick-active button {
  background-color: #88C4C5; }

.modal {
  display: none;
  position: fixed;
  z-index: 8888;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal .close {
    color: white;
    cursor: pointer; }

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px; }
  .modal-content .header-popup {
    background-color: #00aeef;
    margin: -20px -20px 20px -20px;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
    .modal-content .header-popup .title-popup {
      text-align: center;
      margin: 0;
      color: white;
      font-size: 24px; }
  .modal-content .content-popup p {
    margin-bottom: 20px; }
  @media only screen and (max-width: 768px) {
    .modal-content {
      width: 90%; }
      .modal-content .header-popup .title-popup {
        font-size: 18px; } }

.hero-section {
  padding: 440px 0 0;
  background: url("../img/hero-img.jpg") no-repeat 50% 50%;
  background-size: cover; }
  .hero-section h1 {
    color: white;
    font-size: 45px;
    font-weight: 500;
    background: rgba(1, 1, 1, 0.5);
    padding: 20px 100px 20px 15%;
    display: inline-block; }
    .hero-section h1 span {
      font-family: 'Playfair Display', serif;
      font-style: italic;
      font-weight: 500; }
  @media only screen and (max-width: 992px) {
    .hero-section {
      padding: 320px 0 0;
      background: url("../img/hero-img.jpg") no-repeat 80% 50%;
      background-size: cover; } }
  @media only screen and (max-width: 768px) {
    .hero-section h1 {
      width: 100%;
      font-size: 36px;
      padding: 20px 40px; }
      .hero-section h1 span {
        display: block; } }

.intro-section {
  padding: 50px 0; }
  .intro-section p {
    margin-bottom: 20px; }

.top-products-section {
  padding: 50px 0;
  background-color: #F7F7F7; }
  .top-products-section .aside {
    margin-top: -300px;
    margin-bottom: -100px; }
    @media only screen and (max-width: 992px) {
      .top-products-section .aside {
        margin-top: -100px;
        margin-bottom: 0; } }
    @media only screen and (max-width: 768px) {
      .top-products-section .aside {
        margin-top: 0;
        margin-bottom: 0; } }
    .top-products-section .aside img {
      width: 100%;
      height: auto; }
    .top-products-section .aside .latest-updates {
      background-color: white;
      padding: 35px;
      margin-bottom: 30px;
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1); }
      .top-products-section .aside .latest-updates p {
        margin-bottom: 20px; }
      @media only screen and (max-width: 992px) {
        .top-products-section .aside .latest-updates {
          padding: 35px 25px; } }
    .top-products-section .aside .current-specials {
      background-color: white;
      padding: 35px;
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1); }
      @media only screen and (max-width: 992px) {
        .top-products-section .aside .current-specials {
          padding: 35px 25px; } }
  .top-products-section .wrap-btn {
    text-align: center;
    margin-bottom: 50px; }
  .top-products-section p {
    color: #1C1C1C; }

.product-list {
  margin-bottom: 30px; }

.articles-section {
  padding: 50px 0; }
  .articles-section p {
    margin-bottom: 20px; }
  .articles-section h2 {
    margin-bottom: 50px; }
  .articles-section .wrap-article {
    cursor: pointer;
    margin-bottom: 50px; }
    .articles-section .wrap-article .image-container img {
      float: left; }
    .articles-section .wrap-article:hover {
      box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1); }
    .articles-section .wrap-article h3 {
      font-weight: 500; }
    .articles-section .wrap-article p {
      color: #1C1C1C; }
  @media only screen and (max-width: 992px) {
    .articles-section .wrap-article:hover {
      box-shadow: none; }
    .articles-section .image-container img {
      width: 100%; } }
  @media only screen and (max-width: 768px) {
    .articles-section .wrap-article {
      margin-bottom: 0; }
    .articles-section h3 {
      margin-top: 30px; } }

.latest-updates article {
  margin-bottom: 30px; }

.our-products {
  background-color: #F7F7F7; }
  .our-products .header-page {
    padding: 60px 0;
    background: url("../img/our-products/our-product-header-bg.png") no-repeat 50% 50%;
    background-size: cover; }
    .our-products .header-page h1 {
      display: inline-block;
      padding: 20px 100px;
      font-size: 45px;
      font-weight: 500;
      color: white;
      background: rgba(1, 1, 1, 0.5); }
      .our-products .header-page h1 span {
        font-style: italic;
        font-family: 'Playfair Display', serif; }
  .our-products .product-section {
    padding: 50px 0 70px; }
  .our-products .filter-menu {
    margin-bottom: 50px; }
  .our-products .item-menu a {
    display: block;
    padding: 14px;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    color: black;
    background-color: white; }
    .our-products .item-menu a:hover {
      background-color: #88C4C5;
      color: white; }
  .our-products .item-menu.active a {
    background-color: #88C4C5;
    color: white; }

.main-footer {
  padding: 15px 0;
  background: #1C1C1C;
  color: white; }
  .main-footer .container {
    display: flex;
    justify-content: space-between; }
  .main-footer .footer-nav li {
    display: inline-block;
    float: left; }
    .main-footer .footer-nav li a {
      text-decoration: none;
      color: white;
      font-size: 14px;
      border-right: solid 1px white;
      padding-right: 10px;
      padding-left: 10px; }
    .main-footer .footer-nav li:first-child a {
      padding-left: 0; }
  .main-footer .footer-nav span {
    margin-left: 10px; }

/*# sourceMappingURL=main.css.map */
