div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');

//vars
$playfair: 'Playfair Display', serif;
$default: 'Montserrat', sans-serif;
$accent: #88C4C5;
$bg: #F7F7F7;
$text: #1C1C1C;
$shadow: 0 0 7px 2px rgba(0, 0, 0, 0.1);

body {
  padding: 0;
  margin: 0;
  font-family: $default;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45;
  color: $text;
}

.animate  {
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

@import "lib/normalize.css";
@import "lib/grid.css";

@import "_typography.scss";

@import "elements/sliders";
@import "elements/accordion";
@import "elements/header-page";
@import "elements/modal";
@import "elements/breadcrumbs";
@import "elements/inputs";
@import "elements/video";
@import "elements/image";
@import "elements/stars";
@import "elements/btns";


@import "_header.scss";
@import "_aside.scss";
@import "_contents.scss";
@import "_footer.scss";

