div,p,a,span,em,strong,img,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,td,tr,form,fieldset,label,select,checkbox,input,textarea {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,669;0,700;0,800;0,900;1,400;1,500;1,600;1,669;1,700;1,800;1,900&display=swap');

@import "_vars.scss";

body {
  padding: 0;
  margin: 0;
  font-family: $default;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.45;
  color: $text;
}

@import "grid.css";


@import "normalize.css";
//@import "_grid.scss";
@import "_base.scss";
@import "_header.scss";
@import "_typography.scss";
@import "_elements.scss";
@import "_sliders.scss";




@import "_modal.scss";
@import "_hero.scss";
@import "_contents.scss";
@import "_footer.scss";

